body{
	background-color: #212121;
	height: 5000px;
	color: white;
}

img{
	float: left;
	margin-right: 25px;
}
p{
	text-align: justify;
}
table{
	display: inline-table;
	border-collapse: collapse;
}

table, td{
	border: 1px solid rgb(247, 221, 221);
}
td{
	width: 50px;
	height: 30px;
	text-align: center;
}
.col-1{
	width: max-content;
	text-align: left;
	padding: 0px 10px;
}
.row-1 td{
	background-color: rgb(248, 248, 125);
	color: black;
}